*{
  padding: 2px;
  margin: 0px 0px;  
}
body{
 min-height: 100vh;
 background-color: rgb(3, 1, 19);
 color: white;
 text-align: justify;
 
}

body.dark-mode {
  background-color: #202020;
  color: white;
}

nav ul{
width: 100%;
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
}
nav li{
height: 50px;
}
nav a{
height: 100%;
padding: 0 20px;
text-decoration: none;
display: flex;
align-items: center;
color: black;
}
.sidebar{
position: fixed;
top: 0%;
height: 100vh;
width: 100%;
z-index: 999;
right: 0;
background-color: rgba(0, 0, 0, 0.685);
backdrop-filter: blur(5px);
box-shadow: -5px 0 5px rgb(0, 0, 0);
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.sidebar li{
width: 100%;
padding-left: 50px;
}
.sidebar a{
font-weight: lighter;
color: white;
width: 100%
}
.side-textw{
  font-weight: bolder; 
  font-size: larger;
}
.side-text:hover{
  font-size: large;
}  
.side-textr:hover{
font-weight: bolder;
}
.iocn{
  position: relative;
   
}  
.s-icon{
  top: 300px;
  position: relative;
  width: 20px;
}

.hideOnMobile{
  display: none;
}
.menu-btn{
  display: flex;
  float: left;
   position: relative;
   fill: rgba(255, 255, 255, 0.712);
}
.svg1{
  display: block;
}
button{
  cursor: pointer;
}
.resume1{
  background-color: red;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 5px 0px rgba(214, 10, 10, 0.288);
  font-weight: bolder;
  border-color: rgba(224, 9, 9, 0.274);
  position: relative;
   top: 15%;
   left:15%;

}

.resume2{
  display: none;
      background-color: red;
      padding: 10px 10px;
      font-weight: bolder;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 10px;
      position: relative;
      box-shadow: 5px 5px 5px rgba(214, 10, 10, 0.288);
      font-weight: bolder;
      border-color: rgba(224, 9, 9, 0.274);
     transition: box-shadow 0.3s ease;
}
.r2{
  font-weight: bolder;
  color: white;
}
.first-pg{
text-align-last: center;
position: relative;
padding: 10px;
line-height: normal;
}
.p-photo{
width:100px;
border-radius: 50%;
}
.line1{
color: rgba(161, 161, 161, 0.486);
line-height: 2; 
}
.emoji{
width: 10px;

}
.divi{
color:rgba(161, 161, 161, 0.486) ;
}
.line2{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(150, 150, 150);
font-size: 30px;
}
.line3{
text-align: justify ;
padding: 10px;
color: rgba(161, 161, 161, 0.486);
text-align: center;
font-size: 12px;
line-height: normal;
}
.b1{
color: rgb(87, 0, 128);
}
.line4{
width: 100%;
}
.reach{
background-color: rgb(255, 0, 0);
padding: 5px 5px;
box-sizing: border-box;
cursor: pointer;
border-radius: 10px;
box-shadow: 5px 5px 5px rgba(214, 10, 10, 0.288);
font-weight: bolder;
border-color: rgba(224, 9, 9, 0.274);
transition: box-shadow 0.3s ease;
}
.out{
text-decoration: none;
font-weight: bolder;
font-size: 10px;
color: white;
}
.snd-pg{
text-align: justify;
}
.line2-1{
font-size: 40px;
}
.line2-2{
color: rgba(161, 161, 161, 0.486);
font-size: small;
margin: 3px;
}
.line2-3{
color: rgba(161, 161, 161, 0.486);
font-size: small;
padding-top: 20px;
}
.line2-4{
color: rgba(161, 161, 161, 0.486);
font-size: small;
padding-top: 5px;
}
.which{
color: white;
word-spacing: 0px;
font-size: medium;
text-decoration: underline;
}
.which-are{
  text-align:left ;
}
.b2{
color: red;
}
.bottom-line{
border-style:inset;
border-width: 1px ;
border-color:rgba(161, 161, 161, 0.486); 
border-top: none;
border-right: none;
border-left: none;
}
.mbl-img{
width: 100px;
left: 200px;
position: relative;
height: 250px;
}
.mobile{
padding-right: 100px;
position: relative;
}
.do{
font-size: small;
color: rgba(255, 255, 255, 0.665);
text-align: left ;
line-height: 1.8;
}
.space{
padding: 10px;
text-align: left;
}
.full{
width: 300px;
padding-bottom: 70px;
}
.thrid-pg{
bottom: 0px;
width: 100%;
height: 100px;
position: relative;
}
.line3-1{
font-size: 80px;
padding-left: 30px;
bottom: 200px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
}
.every{
position: relative;
font-size: small;
text-align: center;
font-family:'Times New Roman', Times, serif;
bottom: 100px;
}
footer{
  text-align: center;
  background-color: rgb(0, 0, 0);
  color:rgb(161, 161, 161); 
  font-size: smaller;
  margin: -6px;
  position: relative;
  bottom: 0;
}
.f1{
  padding-bottom: 50px;
  padding-left: 15px;
}
.f1-1{
  text-align: left;
  color:rgb(161, 161, 161); 
}
.f2{
  text-align: left;
  right: 5px;
  padding-top: 10px;
  position: relative;
}
.fb{
  width: 30px;
}
.x{
  width: 30px;
}
.whatsapp{
  width: 30px;
}
.ig{
  width: 28px;
}
.lindin{
  width: 45px;
  margin-bottom: -7px;
}
.phone{
  width: 20px;
}
.mail{
  width: 20px;
}
.f3{
  text-align: right;
  right: 10px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
}
.f3-1{
  color:rgb(161, 161, 161); 
}
.f3-2{
  padding-top: 10px;
}
.num{
  text-decoration: none;
  color: white;
  bottom: 12px;
  position: relative;
}
.mailto{
  text-decoration: none;
  color: white;
  bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.f4{
  text-align: right;
  padding-right: 10px;
  padding-bottom: 30px;
}
.f4-1{
  color:rgb(161, 161, 161); 
}
.fot{
  background-color: black;
  border: rgba(161, 161, 161, 0.486) solid 0.5px;
  border-left: none;
  color:rgba(237, 230, 230, 0.869); 
  border-right: none;
}


@media (min-width: 375px) {
  .line2-1{
    font-size: 50px;
  }
  .logo{
    padding: 0px 100px;
  }
  .mbl-img{
    width: 140px;
    left: 210px;
    position: relative;
    height: 250px;
    }
    .mobile{
    padding-right: 100px;
    position: relative;
    }
    .line3-1{
      font-size: 80px;
      padding-right: 150px;
      bottom: 200px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      position: relative;
      text-align: center;
      }
   .every{
          position: relative;
          font-size: small;
          bottom: 90px;
          }
          .full{
            width: 100%;
            bottom: 150px;
            position: relative;
            }
  }
@media (min-width: 425px) { 
  body{
    min-height: 60vh;
  }
  .sidebar li{
    font-size: medium;
    }
  
  .line1{
    font-size: small;
  }
  .line2-1{
    font-size: 50px;
  }
  .dp{
    padding-left: 150px;
  }
  .line3-1{
    font-size: 80px;
    bottom: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    text-align: center;
    }
  .line3-4{
    position: relative;
    bottom: 75px;
    float: right;
  }
  .mbl-img{
    width: 140px;
    left: 250px;
    position: relative;
    height: 250px;
    }
    .mobile{
    padding-right: 100px;
    position: relative;
    }
    .line3-1{
      font-size: 80px;
      padding-right: 150px;
      bottom: 190px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      position: relative;
      text-align: center;
      }
      .do{
        font-size:medium ;
      }
 .every{
          position: relative;
          font-size: small;
          bottom: 90px;
          }
   
    
        footer{
          text-align: center;
          background-color: black;
          color:rgba(161, 161, 161, 0.486); 
          padding: 0px;
          font-size: smaller;
          position: relative;
  
          }
}

@media (min-width: 460px) { /*smallest tab size for a system*/
  .line2-1{
    font-size: 50px;
  }
  .line2-2{
    font-size: 15px;
  }
  .mbl-img{
    width: 180px;
    left: 280px;
    position: relative;
    height: 250px;
    }
    .mobile{
    padding-right: 100px;
    position: relative;
    }
    .line3-1{
      font-size: 80px;
      padding-right: 150px;
      bottom: 190px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      position: relative;
      text-align: center;
      }
      .do{
        font-size: medium;
      }
  .every{
          position: relative;
          font-size: medium;
          bottom: 90px;
          }
}

@media (min-width: 640px){
  .p-photo{
    width: 15%;
  }
  .line1{
    font-size: medium;
  }
 
  
  .dp{
    left: 100px;
  }
  .line3-4{
    bottom: 75px;
  }
  .logo{
    gap: 100px;
  }
}
@media (min-width: 768px) {
    body{
      margin: 0px;
      margin-top: 0px;
        color: white;
        font-size: 15px;
      }
      .sidebar{
        font-size: large;
      }
      nav a{
        color: rgba(255, 255, 255, 0.712);
        padding: 0 15px;
      }
            
     .menu-btn{
        display: none;
     }
     
     li{
        color: aquamarine;
     }
      .hideOnMobile{
        display: inline-block;
      }
      .sidebar{
        font-size: large;
        
      }
    .resume2{
        display:inline-flex;   
    }
    button{
        left: -20px;
    }
    .p-photo{
      width: 15%;
    }
    .first-pg{
      font-size: 35px;
    }
    .line3{
      font-size: medium;
    }
    .out{
      font-size: small;
    }
    .divi{
      display: none;
    }
    .line3-4{
      bottom: 75px;
      float: right;
    }
    .logo{
      gap: 100px;
    }
    .mbl-img{
      width: 180px;
      left: 450px;
      position: relative;
      height: 250px;
      }
      .mobile{
      padding-right: 100px;
      position: relative;
      }
      .line2-2{
        font-size: large ;
      }
      .do{
        font-size: medium;
      }
      .which{
        font-size: large;
      }
      .emoji{
        width: 20px;
      }
}


@media (min-width: 1024px) {
  
  .mbl-img{
    width: 180px;
    left: 550px;
    position: relative;
    height: 250px;
    }

    
}